.display {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  .notes {
    width: 70%;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 3px;

    li {
      list-style: none;
      border-bottom: 1px solid gray;
      padding: 5px;
      font-size: 1.3rem;
      display: flex;
      justify-content: space-between;

      .btns {
        width: 35%;
        display: flex;
        justify-content: space-between;

        button {
          padding: 6px 20px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background-color: palevioletred;
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
}
